$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
  .navbar ul div:first-child{
    display: inline-block;
  }
  .favourites-container{
    position: fixed;
    margin: auto;
    left:28%;
    visibility: hidden;
  }
}
