$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {

  .feed{
    position: absolute;
    margin:0;
  }
  .navbar ul div:first-child{
    display: inline-block;
  }
  .favourites-container{
    position: fixed;
    margin: auto;
    width: 60% !important;
    left:20%;
    visibility: hidden;
  }
}
