$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {

  .app{
    display: block !important;
  }
  .feed{
    width: 100% !important;
    position: absolute;
    margin:auto;
  }
  .navbar ul div:first-child{
    display: inline-block;
  }
  .favourites-container{
    position: fixed;
    margin: auto;
    width: 60% !important;
    left:20%;
    visibility: hidden;
  }
}
