@import '../../styles/mixins.scss';
@import '../../styles/animations.scss';

.offers{
  padding: 10px;
  width: 550px;
  overflow: scroll;
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 50px;

  &.animation-slide-in-up{
    @include animation(0, 1s, animation-slide-in-up, ease);
  }


  &.leave{
    @include animation(0, 0.5s, animation-slide-in-down, ease);
  }

  .list-post{
    min-height: 100%;
    max-height: 100%;
    overflow:scroll;

    div{
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width : 780px){
    width: 100%;
  }
}
