.wrapper.sign-in
  position: fixed !important
  width: 100%
  height: 100%
  z-index: 2000 !important
  overflow: visible
  background: url('http://i.imgur.com/XGIGW7D.jpg') no-repeat
  background-size: cover
  display: block
  padding-top: 100px

  .logo-auth
    width: 600px
    height: 100px
    display: block
    margin: 50px auto
    object-fit: contain

  h1
    position: absolute

  .login
    display: block !important
    max-width: 300px
    position: relative
    margin: auto

  button
    background: #4080ff !important

    &.hidden
      display: none !important
      z-index: 0 !important
