.wrapper.sign-in
  position: fixed !important
  width: 100%
  height: 100%
  z-index: 2000 !important
  overflow: visible
  background-color: #4080ff
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: nowrap
  padding-top: 100px

  h1
    position: absolute

  .login
    position: absolute
    top: 300px

  button
    background: #4080ff !important

    &.hidden
      display: none !important
      z-index: 0 !important
